.service{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 10px;
    
    
  }
  .card{
  
    height: 450px;

  }

  .nosotros{
    padding: 6px;
    font-size: 1.4vw;
    
  
    
  }

  .ritual_info{
    width: 60%;
    margin: auto;
    padding: 80px;
    line-height: 30px;
    
  }
