*{
  
  box-sizing: border-box;
}

body {

  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: rgb(236, 239, 241);
}

header{
  background-image: url(https://res.cloudinary.com/dzpzdgxyn/image/upload/f_auto/v1629505000/web/banner_ysdv6y.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 10px;
  width: 100%;
  
}

.textos{
  width: 50%;
  color: #fff;
  margin-left: 15px;
  margin-top: 150px;
  

}

.textos h1 {
  font-size: 40px;
  
}
.textos h2 {
 font-size: 8px;
}



.service_title {
  font-size:24px ;
  text-align: center;
  margin-bottom: 90px;
}

.card{
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  
}

.card_title,
.service_title,
.ritual_title,
h1{
  font-family: 'Kaisei Decol', serif;

}

.card_content{
  padding: 20px;
}

.card_img{
  width: 100%;
  height: auto; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
}

.footer{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  padding: 14px;
  font-size: 15px;
}
.footer p {
  text-align: center;
}

.nosotros{

  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 4vw;
  line-height: 30px;

  
}

.nosotros__title{
  display: block;
  
}

.btn-whatsapp {
  display:block;
  width:70px;
  height:70px;
  color:#fff;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}

.rituales{
  width: 100%;
  height: auto;
 
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.ritual_info{
  
  padding: 20px;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
  
  
}

.ritual_title{
  text-align: center;
}