.service{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px;
    
  }

  .card{
    height: 450px;

  }

  .nosotros{

    
    padding: 6px;
    font-size: 2vw;
    
    
  }

  